body {
    background-color: rgb(237, 237, 237);
    margin: 0;
    padding: 0;
}

h3{
	font-size: medium;
	margin-top: 0px;
}

h1{
	margin-bottom: 1px;
}

#sidebar{
    width:20%;
    float:left;
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 10px;
    }
#content{
    width: 64%;
    float:left;
    margin-top: 60px;
    }

header{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: azure;
    justify-content: space-between;
    background-color:  rgb(37, 37, 38);
}

#sub-header{
	padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: azure;
    justify-content: space-between;
	border-color: rgb(40,60,70);
	border-style: solid;
	border-bottom: 2px;
    background-color: rgb(37, 37, 38);
}

h1{
    font-size: 26px;
}

#sections-buttons{
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-top: 10px;
}

button{
	cursor: pointer;
	border: none;
	padding: 0%;
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(96, 173, 211);
	background-color: transparent;
	color: aliceblue;
	font-size: 22px;
	margin-bottom: 10px;
}


button:hover{
	color: 1px solid rgb(96, 173, 211);
	background-color:  1px solid rgb(96, 173, 211);
}

#header-img{
    height: 100%;
    margin-right: 30px;
    cursor: pointer;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#searchDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
}

#lupa{
    width: 25px;
    background: none;
    cursor: pointer;
    border: none;  
    background-color: none;
}

#search{
    font-size: larger;
    font-family: sans-serif;
    height: 25px;
    width: 90%;
    border: none;
    background: transparent;
    box-sizing:content-box;
    
}

#app{
    /* grid-template-columns: 100px aut; */
    background-color: rgb(237, 237, 237);
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.infoMark{
    margin: 4px;
    font-size: 15px;
}

#leftColumn{

    display: flex;
    flex-direction: column;
    width: 100%;
}

h2{
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.opt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.clear{
    display: block;
    background-color: black;
    color: white;
    width: 13em;
    padding-left: 1em;
    padding-right: 1em;
}

.docs{
    background-color: white;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 4px;
    border-color: silver;
    border-radius: 4px;

}

.marked{
    background-color: white;
    margin: 4px;
    padding: 2px;
    display: inline-block;
}

.send{
    background-color: rgb(0, 62, 126);
    color: white;
    margin-top: 30px;
    width: 13em;
    padding-left: 1em;
    padding-right: 1em;
}